.form-add-product-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  z-index: 4;
  align-items: center;
  &__form {
    max-width: 50rem;
    padding: 3rem 2rem;
    min-width: 50rem;
    background-color: aliceblue;
  }
  &__price {
    display: flex;
    justify-content: space-between;
  }
}
